body{
  border: 7px solid #3D4D5C;
}

.navbar{
  padding-top: 40px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: .9em;
}

h1{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  text-align: center;
  /*padding-top: 2.5em; */
  width: 70%;
  margin: 0 auto;
  font-size: 3em;
}

/*h2{
  font-family: 'minerva-modern', sans-serif;
  color: black;
  font-size: 2em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3{
  font-family: 'ff-tisa-sans-web-pro',sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.15em;
  text-align: left;
  width: 40%;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;

} *?

.hover-effect{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 70px;
  width: 100%;

}

.img-responsive{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Code from https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering */
.img__wrap {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(21, 29, 41,0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description_layer p{
  width: 85%;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1em;
  font-family: 'ff-tisa-sans-web-pro',sans-serif;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.hero-container{

}

.hero-text{
  padding-top: 4em;
  padding-bottom: 4em;
}

.contact-container{
  padding-top: 4em;
  padding-bottom: 4em;
  padding-right: 0px !important;
  padding-left: 0px !important;
}


.design-container{
  padding: 40px;
  background-color: #F0F0F0;
}

.video-container{
  padding: 40px;
  background-color: #F0F0F0;
}

.education-container{
  padding: 40px;
  background-color: #F0F0F0;
}

.experience-container{
  padding: 40px;
}

.row{
  width: 100%;
}

.img-wrap{
  background-color: #D6D6D6;
  text-align: center;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2.25em;
  padding-left: 0px !important;
  padding-bottom: 40px;
}

.text{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.25em;
}



.subtext{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
}


.contact-info{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1.15em;
}

.contact-info a{
  color:black;
  border-bottom: 2px solid #ff3b3f;
}

.contact-info a:hover{
  color:#ff3b3f;
  border-bottom: 2px solid black;
  text-decoration: none;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
  line-height: 1.4;
}

.article-container{
  padding: 40px;
}

.organization{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  color: white;
  text-decoration: underline #98878f;
}

.article-title{
  font-family: 'ff-tisa-sans-web-pro',sans-serif;
  color: black;
  font-size: 1.1em;
  font-style: italic;
}

.blurb{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.read-more a{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  color:#ff3b3f;
  text-decoration: underline #192231;
  /*border-bottom: 1px solid #f0eeee; */
}

.read-more a:hover{
  color: #4D5866;
  text-decoration: underline #ff3b3f;
}

.card-header{
  background-color: #192231;
}

.card-body{
  background-color: #FAFAFA;
}

.card{
  border: 1px solid #f0eeee;
}

.camila{
  width:60%;
}

/*.image-container{
  padding: 40px;
} */

.download{
  font-family: 'ff-tisa-sans-web-pro',sans-serif;
  color: black;
  font-size: 1.1em;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

.videos{
  width: 80%;
  padding: 20px;
}

footer{
  background-color: #7C99B1;
  text-align: center;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.resume-container{
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.resume-h1{
  text-align: left;
  width: 100% !important;
}

.download-resume a{
  font-family: 'ff-tisa-sans-web-pro',sans-serif;
  color: black;
  font-size: 1.1em;
  font-style: italic;
  color:black;
  border-bottom: 2px solid #ff3b3f;
}

.download-resume a:hover{
  color:#ff3b3f;
  border-bottom: 2px solid black;
  text-decoration: none;
}

.card-resume{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 43%;
}


@media only screen and (max-width: 993px) {
.contact{
  padding-top: 20px;
  text-align: center;
}

.card-resume{
    width: 35%;
}
.videos{
  width: 100%;
}

h1{
  font-size: 2.5em;
}

.title, h2{
  font-size: 2em;
}

}
@media only screen and (max-width: 770px) {
  h2 {
    font-size: 2em;
  }

  .contact-info{
    font-size: .9em;
  }

  .camila{
    width:50%;
  }
}

/* Create two equal columns that floats next to each other */
/* .column {
  float: left;
  width: 50%;
  padding: 10px;
}  */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}  */
